<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.tremendocSDK">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity android:name=".View.UI.Activity.Finddoctor"></activity>
        <activity
            android:name=".View.UI.Activity.Signup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LandingActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>